.typewriter h1,h4 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
}

.typewriter h4{
      animation: 
    typing 1.3s steps(40, end),
    blink-caret .75s step-end infinite;
}
.typewriter h1{
      animation: 
    typing 1s steps(40, end);
    animation-fill-mode: forwards;
}

.typewriter{
    display:flex;
    width:60vw;
    flex-direction: column;
    color: lawngreen;
}
.typewriter *{
    margin-top:1em;
}

/* The typing effect */
@keyframes typing {
  0% { width: 0 }
  99% { width: 99% }
  100% { width: 100%; border-right: none; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}



.content{
	font-family: monospace;
  margin: auto;
	color: cyan;
	padding: 5%;
}

#title{
	text-align: center;
	text-transform: uppercase;
	border-bottom : solid 1px cyan;
}